@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400&family=Inter:wght@300;400;500;600&display=swap');
@import "tailwindcss";
@plugin "daisyui";

* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #faf9f6;
  color: #2c2c2c;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}
